.list {
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-auto-rows: minmax(45vh, auto);
  gap: calc(15px + 1vh);
}
.searchBar {
  display: block;
  width: 60%;
  margin: 12px auto;
  height: fit-content;
  font-size: 16px;
}
.main {
  width: 100%;
}
.buffer {
  height: 25vh;
}
.waypoint {
  height: 25vh;
}

@media (min-aspect-ratio: 7/10) {
  .list{
   grid-template-columns: 1fr 1fr;
  }
}
@media (min-aspect-ratio: 1/1) {
   .list{
    grid-template-columns: 1fr 1fr 1fr;
   }
}
@media (min-aspect-ratio: 16/9) {
  .list{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-aspect-ratio: 21/9) {
  .list{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}