.pokecardContainer {
  width: 100%;
  height: 100%;
  min-height: 450px;
  border-radius: 3%;
}
.pokecard {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 3%;
  overflow: hidden;
}
.loading {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 450px;
  border-radius: 3%;
  overflow: hidden;
  background-color: #c9c9c9;
}
.botBoxLoading {
  width: 100%;
  height: 30%;
  position: absolute;
  top: 70%;
  background-color: rgb(255, 255, 255);
  outline: solid 15px;
}
.img {
  object-fit: contain;
  height: 50%;
  top: 50%;
  left: 50%;
  position: absolute;
}
.name {
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 70%;
  height: fit-content;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 32px;
  opacity: .65;
  color:rgb(0, 0, 0);
  text-transform: capitalize
}
.accentBox{
  width: 100%;
  height: 35%;
  position: absolute;
  top: 65%;
}
.botBox {
  width: 100%;
  height: 30%;
  position: absolute;
  top: 70%;
  background-color: rgb(238, 237, 237);
}
.id {
  position: absolute;
  bottom: 2%;
  left: .5em;
  width: fit-content;
  height: fit-content;
  text-align: start;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 18px;
  opacity: .35;
  text-transform: capitalize;
  color: rgb(0, 0, 0);
}