.pokecard {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 3%;
  overflow: hidden;
}
.img {
  object-fit: contain;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
  position: absolute;
}
.name {
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 70%;
  height: fit-content;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 22px;
  opacity: .85;
  text-transform: capitalize
}
.botBox {
  width: 100%;
  height: 30%;
  position: absolute;
  top: 70%;
  background-color: rgb(238, 237, 237);
  outline: solid 15px;
}
.id {
  position: absolute;
  bottom: 2%;
  left: .5em;
  width: fit-content;
  height: fit-content;
  text-align: start;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 14px;
  opacity: .35;
  text-transform: capitalize
}